.enchantment-number {
    padding: 2px;
    overflow: hidden;
    background-color: #596677;
    height: 100%;
    width: 45px;
    display: inline;
    color: white;
    border-radius:2em;
    transition: all 0.1s;
    border-color: #b2bfcf;
}

.enchantment-number-faded {
    padding: 2px;
    overflow: hidden;
    background-color: #404955;
    height: 100%;
    width: 45px;
    display: inline;
    color: white;
    border-radius:2em;
    transition: all 0.1s;
    border-color: #b2bfcf;
}

.enchantment-number-selected {
    padding: 4px;
    overflow: hidden;
    background-color: #15171b;
    height: 100%;
    width: 45px;
    display: inline;
    color: white;
    transition: all 0.1s;
}

.enchantment-label {
    padding: 4px;
    user-select: none;
    overflow: hidden;
    height: 100%;
    width: 190px;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    text-align: right;
}